/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0178af;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #b5d7e8;
}

*::-webkit-scrollbar-thumb {
    background-color: #0178af;
    border-radius: 5px;
    /*border: 3px solid #C0DBEE;*/
}

.ui-button .ui-button-text{
    line-height: 1.0 !important;
}       

input input:focus .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    outline: none !important;
}       

ui-widget-shadow{
    opacity:0.4 !important;
}

.ui-tooltip {
    color:#0178af !important;
    font-size:12px !important;
}            

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    outline: none !important;
}

.ui-widget-content .ui-state-focus {
    outline: none !important;
}

.ui-widget * { outline: none !important;}​

*:focus {
    outline: none !important;
}            

a {
    color: #0178af;
    font-weight:bold;
}

.txt{
    color:#0178af;
}

.title{
    color:#0178af;
    font-weight:bold;
    text-align:right;
}

.right{
    text-align: right
}

label {
    display: inline-block;
}